/* Finally adding some IE9 fallbacks for gradients to finish things up */

#test {
	width:50% !important;
}

#colorPicker {
	visibility: hidden;
}

#settings {
	height: 20px;
}

#settings-button-calc {
	width: 0px;
	height: 0px;
	z-index: 99;
	text-shadow:0px 0px 0 rgb(80,80,80), 0px 0px 0 rgb(-85,-85,-85),-1px -1px 0px 
	rgba(0,0,0,1),-2px -2px 0px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);
	color: white;
	font-size: 1.3em;
}


#settings-button-settings {
	width: 0px;
	height: 0px;
	z-index: 99;
	position: absolute;
	text-shadow:0px 0px 0 rgb(80,80,80), 0px 0px 0 rgb(-85,-85,-85),-1px -1px 0px 
	rgba(0,0,0,1),-2px -2px 0px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);
	color: white;
	font-size: 1.2em;
	margin-left: -10px;
	margin-top: -17px;
}

.settings-layout-color {

    background-color: #F9F9F9;
    opacity: 2.0;
    padding-top: -50px;

}

.settings-layout-size {

    background-color: #F9F9F9;
    opacity: 2.0;
    padding-top: -50px;
    margin-top: -20px;

}

.top-layout {

    padding: 14px;
    border: 0px solid #f0f0f0;
    /*border-bottom: 2px solid #ccc;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: linear-gradient(#e4e4e4, #d1d1d1);
}


.pick-color-left {
	height: 20px;
	width: 20px;
	margin-top: 5px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px; 
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	float: left;
}

.pick-color-middle {
	height: 20px;
	width: 20px;
	margin-top: 5px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	float: left;
}

.pick-color-right {
	height: 20px;
	width: 20px;
	margin-top: 5px;
	border-right: 2px solid black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	float: left;

	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px; 
}

.pick-size-left {

	width: 13%;
	height: 10%;
	margin-top: 5px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px; 
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-right: 1px solid black;
	border-bottom: 2px solid black;
}

.pick-size-middle {
	width: 13%;
	height: 10%;
	margin-top: 5px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 1px solid black;
}

.pick-size-right {
	background: #72ec78;
	width: 13%;
	height: 10%;
	margin-top: 5px;
	border-right: 2px solid black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	-webkit-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px; 
}

.pick-size-font {
	font-size: 20px;
	margin-top: 15px;
	margin-left: 3px;
}

.settings-tab-titles {
	font-family: "Times New Roman", Times, serif;
	font-size: 17px;
	margin-top: 5px;
	margin-bottom: -2px;
}

.settings-title{
    text-align: center;
    margin-top: -10px;
    font-family: "Times New Roman", Times, serif;
    font-size: 18;
    color: #2e2e2e;
    text-shadow: 0px -1px 0px rgba(161, 161, 161, 0.54);
}

.option-font {
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	color: #000000;
	font-size: 15;
	padding: 0;
	text-shadow: 0px -1px 0px rgba(161, 161, 161, 0.54);
	margin-top: 15px;
	margin-left: 78px;
}

#break {
	/*color: #dddddd; 
	background: #dddddd; 
	height: 2px;
	border-top: 2px dotted #dddddd; */

	border: 0;
	border-bottom: 2px dashed #dddddd;
	background: white;
	width: 100%;
	margin-top: 125px;

}

#settings-panel {
	display: none;
	margin-top: 25px;
	opacity: 0.8;
	width: 150px;
	margin-left: 40px;
	background: white;

}

#calculator-preview {
	color: blue;
	font-size: 2.6em;
	padding: 30px;
}



#full-panel {
	display: block;
}

/* Using box shadows to create 3D effects */
#calculator {
	width: 190px;	
	height: 225px;
	padding: 20px 20px 5px;
	background: #9aa5ea;
	border-radius: 3px;
}

/* Top portion */
.top span.clear {
	float: left;
	
}

/* Inset shadow on the screen to create indent */
.top .screen {
	width : 100px;
	height : 20px;
	font-size : 15px;
	line-height: 20px;
	margin-right: 10px;
	float: right;
	padding: 0 10px;
	
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	
	
	/* Typography */
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}



/* Clear floats */
.keys, .top {overflow: hidden;}

.top-layout {
	margin-top: 5px;
	height: 20px;
}

/* Applying same to the keys */
.keys span, .top span.clear {
	float: left;
	position: relative;
	top: 0;
	
	cursor: pointer;
	width : 36px;
	height: 20px;
	font-size : 8px;
	line-height: 15px;
	background: white;

	margin: 0 1px 6px 0;

	color: #888;
	text-align: center;

	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
	background: #fdae4e;
	margin-right: 0;

}

.keys span.operator2 {
    background: #fdae4e;
}

.keys span.delete {
    background: #008000;
    margin-right: 0;
}

.keys span.eval {
	background: #f1ff92;
	color: #888e5f;
}

.top span.clear {
	background: #ff9fa8;
	color: white;
}

/* Some hover effects */
.keys span:hover {

}

.keys span.eval:hover {
	background: #abb850;
	color: #ffffff;
}

.top span.clear:hover {
	background: #f68991;
	color: white;
}




