/* Media */
@media all and (max-height: 600px),
	all and (max-width: 900px) {
	#homepage-wrapper {
		font-size: 9px;
	}
	
	#bottom-bar #weather {
		font-size: 9px;
	}
}

/* Reset */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-width: 1300px;
	font-family: 'Oswald', sans-serif;
}

body {
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#homepage-wrapper {
	margin: 0;
	padding: 0;
	height: 100%;
}

#homepage-main {
	height: 40%;
}

.clearAll {
	clear: both;
}


/* General */
.textLink {
	color: #0ca5e8;
	cursor: pointer;
	transition: .5s;
}
.textLink:hover {
	color: #76c0e0;
	transition: .5s;
}
.iconLink a i, .iconLink i {
	color: #828282;
	transition: .5s;
}
.iconLink a i:hover, .iconLink i:hover {
	color: #b7b7b7;
	transition: .5s;
}



/* Alert Bar */

#alertBar {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
	z-index: 100;
}

#alertBar.alertBarClose {
	top: -50px;
	transition: 1s;
	transition-delay: 3s;
}


#alertBar p {
	padding: 5px;
	text-align: center;
	width: 100%;
	height: 100%;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 0px 9px black;
}




/* Hover Panels */
.hoverPanel {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
    right: 0px;
    z-index: 100;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
	width: 70%;
	height: 70%;
	overflow-y: scroll;
	max-width: 700px;
	max-height: 500px;
	
	background-image: url('/img/fabric.png');
	background-repeat: repeat;
	box-shadow: 0px 0px 15px black;
	border-radius: 10px;
}

.hoverPanelCurtain {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 50;
	background-color: rgba(0,0,0,0.6);
}

.hoverPanel form {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 70%;
	margin: auto;
}


/* Top bar */

#top-bar {
	height: 3em;
	color: #fff;
	background-color: rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#top-bar .top-bar-item {
	vertical-align: middle;
	text-align: middle;
	height: 100%;
}

#top-bar #logo {
	background-color: rgba(120, 155, 171, 1);
	float: left;
	width: 10%;
	text-align: center;
}

#top-bar #quickbar {
	background-color: rgba(90, 90, 90, 1);
	float: left;
	margin: 0;
	padding: .2em 1em 0 1em;
}

#top-bar #quickbar ul {
	list-style-type: none;
	display: inline-block;
	padding: 0;
}

#top-bar #quickbar ul li {
	display: inline-block;
	margin: .1em;
	position: relative;
}

#top-bar #quickbar ul li .quickbarItemRemoveButton {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #000;
	padding: 1px;
	border-radius: 5px;
	display: none;
}

#top-bar #quickbar ul li .quickbarItemRemoveButton:hover {
	background-color: #c41919;
}

#top-bar #quickbar i {
	color: #fcfcfc;
}
#top-bar #quickbar i.active {
	color: #ffef3b;
}
#top-bar #quickbar ul li, #top-bar #quickbar i {
	opacity: .7;
	cursor: pointer;
}
#top-bar #quickbar ul li:hover, #top-bar #quickbar i:hover {
	opacity: 1;
}

#top-bar #quickbar ul li.blinkUp {
	opacity: 1;
	transition: .5s;
}
#top-bar #quickbar ul li.blinkDown {
	opacity: .5;
	transition: .5s;
}
#top-bar #quickbar ul i, #top-bar #quickbar ul i:hover {
	opacity: 1;
}

#top-bar #quickbar img {
	width: 2.3em;
	height: 2.3em;
}

#top-bar #quickbar #add-qb-item {
	margin: 0 .1em;
}

#top-bar #quickbar #add-qb-item a {
	color: #fff;
	text-decoration: none;
}

#top-bar #quickbar #add-qb-item:hover {
	cursor: pointer;
}

#top-bar #black-bar-wrapper {
	background-color: rgba(0, 0, 0, .6);
	overflow: hidden;
}

#top-bar #user-settings {
	float: right;
	display: inline;
	line-height: 3em;
	margin-right: .5em;
}

#top-bar #user-settings #pref-btn {
	color: #FFF;
	margin: 0 .1em 0 .5em;
}

#top-bar #user-settings #power-btn {
	margin: 0 .3em 0 .1em 
}

#top-bar #user-settings a {
	color: #fff;
	margin-left: 5px;
}

#top-bar #user-settings a:hover {
	text-decoration: none;
}

#top-bar #user-settings #not-logged-in .divider {
	margin: 0 .5em;
}

/* Categories */
#bookmark-wrapper {
	height: 3.3em;
	width: 100%;
}

#bookmarks {
	margin: .4em .4em 0 0;
	float: right;
	height: 2.5em;
	color: #FFF;
}

.bookmark-list-item {
	line-height: 2.5em;
	vertical-align: center;
	text-align: center;
	
	background-color: rgba(0, 0, 0, .7);
}

#add-more-bmarks.bookmark-category {
	width: 2em;
	min-width: 0;
}

.bookmark-category {
	display: inline-block;
	height: 100%;
	margin: 0 .3em;
	width: 5%;
	min-width: 10em;

	cursor: pointer;
	position: relative;
}

.bookmark-category ul {
	list-style-type: none;
	position: absolute;
	
	width: 100%;
	
	margin-top: .3em;
	padding: 0;
	z-index: 100;
}

.bookmark-category ul > li {
	margin-top: .2em;
	display: block;
}

.bookmark-category ul > li a {
	color: rgba(200,200,200,1);
	text-decoration: none;
}
.bookmark-category ul > li a:hover {
	color: rgba(255,255,255,1);
}

#bookmark-click-bg {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* Search */
#search-section {
	margin: 1em 0;
	width: 100%;
	background-color: #CCC;
}

#search-section #search-input {
	height: 3em;
	font-size: 1.5em;
	border: 0;
	background-color: rgba(0,0,0,0);
	padding-left: 20%;
	width: 79%;
}

#search-section #search-input::-webkit-input-placeholder,
#search-section #search-input:-moz-placeholder,
#search-section #search-input::-moz-placeholder,
#search-section #search-input:-ms-input-placeholder
{
   color: rgba(0, 0, 0, 0);
}

/* Feed section */
#feed {
	margin-top: 3em;
	list-style-type: none;
	-webkit-column-count: 5;
	-moz-column-count: 5;
	column-count: 5;
	width: 100%;
	height: 100%;
}

#feed li {
	display: inline;
}

#feed .feed-item {
	margin-bottom: 1%;
	width: 100%;
	position: relative;
	display: block;
	overflow: hidden;
}

#feed .feed-item .feed-item-background {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

#feed .feed-item.feed-item-giant {
	height: 92%;
}

#feed .feed-item.feed-item-big {
	height: 55%;
	margin-bottom: 2%;
}

#feed .feed-item.feed-item-small {
	height: 35%;
	margin-bottom: 2%;
}

#feed .feed-item.feed-item-tiny {
	height: 30%;
}

@-moz-keyframes head-line-anim
{
	0% {
	}
	100% { 
		height: 4.5em;
	}
}

@-moz-keyframes head-line-text-anim {
	0% {
		font-size: 1em;
	}
	100% { 
		font-size: 1.2em;
	}
}

#feed a {
	color: #333;
}

#feed a:hover {
	color: #333;
	text-decoration: none;
}

#feed .feed-item .head-line-section {
	position: absolute;
	bottom: 0;
	height: 3.5em;
	width: 100%;
	background-color: rgba(200, 200, 200, .8);
	padding: .2em .4em;
	overflow: hidden;
}

#feed .feed-item:hover .head-line-section {
	-webkit-animation: head-line-anim .1s ease forwards;
	-moz-animation: head-line-anim .1s ease forwards;
	-o-animation: head-line-anim .1s ease forwards;
	animation: head-line-anim .1s ease forwards;
}

#feed .feed-item .head-line-section .top-line .icon {
	width: 1.4em;
	height: 1.4em;
	vertical-align: bottom;
}

#feed .feed-item .head-line-section .top-line .title-text {
	font-size: .8em;
	vertical-align: bottom;
	color: #888;
}

#feed .feed-item .head-line-section .top-line .title-detail {
	vertical-align: top;
	
}

#feed .feed-item .head-line-section .head-line {
	margin-top: .2em;
	text-overflow: ellipsis;
}

#feed .feed-item:hover .head-line-section .head-line {
	-webkit-animation: head-line-text-anim .1s ease forwards;
	-moz-animation: head-line-text-anim .1s ease forwards;
	-o-animation: head-line-text-anim .1s ease forwards;
	animation: head-line-text-anim .1s ease forwards;
}


/* Bottom bar */
#bottom-bar {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 22%;
	min-width: 1300px;
}

#bottom-bar .bottom-bar-item {
	display: inline-block;
}

#bottom-bar #widgets-area {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 75%;
}

#bottom-bar #widgets-area .widgetWrapper {
	position: relative;
	height: 14em;
	width: 25%;
	margin-right: 4%;
	margin-left: 4%;
	float: left;
	display: inline-block;
	vertical-align: bottom;
	background-color: rgba(0,0,0,0.2);
}

#bottom-bar #widgets-area .widget {
	height: 100%;
	width: 100%:
}

#bottom-bar #widgets-area .widget .widgetContent {
	margin: 0 0 -5px 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#bottom-bar #widgets-area .editWidgetButton {
	position: absolute;
	top: 0px;
	right: -20px;
	cursor: pointer;
}

#bottom-bar #widgets-area .editWidgetButton i {
	color: rgba(0,0,0,0.2);
}
#bottom-bar #widgets-area .editWidgetButton i:hover {
	color: rgba(0,0,0,0.5);
}


#bottom-bar #info {
	background-color: rgba(55, 55, 55, .9);
	min-height: 12em;
	width: 25%;

	position: absolute;
	right: 0;
	bottom: 0;
}



