body.loginBody {
	background-image: url('/img/fabric.png');
	background-repeat: repeat;
}

.signUpBox {
	margin-top: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
	background-color: rgba(0,0,0,0.1);
}

.alertBox {
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 20px;
	text-align: center;
	color: #565656;
}